.buffer {
    padding: 15px 0;
}


.hidden {
    display: none;
}

@media (max-width: 576px) {
    /**onzichtbaar en geen ruimte innemen**/
    .sm-hidden {
        display: none;
    }
    /**zichtbaar**/
    .sm-visible {
        display: block;
    }
}